/*
#add8e6
#daa520
#00008b
#ee82ee
#ffffff
#1e90ff
#ffc0cb
#d3d3d3
#228b22
#23272a
#f08080
#20b2aa
#7fffd4
#ffb6c1
*/

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

img {
    max-width: 100%;
}

/* COMMON */
/* Layout */
.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 80%;
}

/* Header */
.header {
    background-color: #add8e6;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 25%;

    /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

.links {
    width: 50%;
    text-align: center;

      /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

.login {
    width: 25%;
    text-align: end;

      /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

/* Utilities */
.pd-5 {
    padding: 5px;
}
