/*
#add8e6
#daa520
#00008b
#ee82ee
#ffffff
#1e90ff
#ffc0cb
#d3d3d3
#228b22
#23272a
#f08080
#20b2aa
#7fffd4
#ffb6c1
*/

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

img {
    max-width: 100%;
}

/* COMMON */
/* Layout */
.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 80%;
}

/* Header */
.header {
    background-color: #add8e6;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 25%;

    /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

.links {
    width: 50%;
    text-align: center;

      /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

.login {
    width: 25%;
    text-align: end;

      /* debug */
    border: 1px dashed black;
    background-color: #daa520;
}

/* Hero Banner */
.hero-banner {
    /* debug */
    background-color: #00008b;
    display: flex;
    justify-content: center;
}

.hero-img {
    /* debug */
    background-color: #ee82ee;
    border: 1px dashed black;
    width: 60%;
    height: 180px;
}

/* Sections*/
.row {
    display: flex;
}

.col-100 {
    width: 100%;
    /* debug */
    background-color: #228b22;
    min-height: 400px;
    border: 1px dashed black;
}

.col-60 {
    width: 60%;
    /* debug */
    min-height: 200px;
    background-color: #1e90ff;
    border: 1px dashed black;
}

.col-40 {
    width: 40%;
    /* debug */
    min-height: 200px;
    background-color: #ffc0cb;
    border: 1px dashed black;
}

/* Utilities */
.pd-5 {
    padding: 5px;
}

.pd-20 {
    padding: 20px;
}

.gray {
    background-color: #d3d3d3;
}
